.text-center{
    text-align: center;
}
.bg-red{
    background: skyblue;
}
.mx-auto{
   margin:auto;
}
.m-w-20{
     max-width: 30vw;
     padding-top: 10px;
     padding-bottom: 20px;
}